// Variables
@import 'variables';
@import './owl.carousel.scss';
@import './owl.theme.default.scss';
@import './owl.theme.green.scss';

// Bootstrap
// @import '~admin-lte/build/scss/adminlte';

.text-center {
  text-align: center;
}

.login {
  background-color: #FF0000;
  color: white;
  border-radius: 30px;
}

.logo img {
  height: 70%;
  font-size: medium;
  display: block;
}
